Django==3.2.4
django-allauth==0.46.0
django-cors-headers==3.10.1
djangorestframework==3.12.4
gunicorn==20.1.0
Jinja2==2.11.3
Pillow==8.1.2
pipenv==2020.11.15
pipreqs==0.4.8
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.0
urllib3==1.25.10
virtualenv==20.4.0
